<!DOCTYPE html>
<html>
<head>
	<title>EasyWork</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='table_test.css') }}" />
</head>
<body>
	<div class="container_job">
		<table style='width: 100%'>
	    	<tbody>

				{% for job in jobs %}
					<tr><td>{{ job.job.company.name }}</td></tr>
			        <tr><td>{{ job.job.title }}</td></tr>
			       <tr><td> Position: {{ job.job.position }}</td></tr>
			        <tr><td>City: {{ job.job.city }}</td></tr>
			        {% if job.job.is_net %}
			        	<tr><td>Salary: {{ job.job.salary }} {{ job.job.salary_type }} Net</td></tr>
			        {% else %}
			        	<tr><td>Salary: {{ job.job.salary }} {{ job.job.salary_type }} Gross</td></tr>
			        {% endif %}
			        <tr><td>Description: {{ job.job.description }}</td></tr>
			        <tr><td>Time of creation: {{ job.job.timestamp }}</td></tr>
					<tr><td>{{ viewed_liked }} at :{{ job.timestamp }}</td></tr>
					<tr><td><hr></td></tr>	
				{% endfor %}
			</tbody>
		</table>
	</div>
</body>
</html>