<!DOCTYPE html>
<html>
<head>
	<title>EasyWork</title>
</head>
<body>
	<form action="" method="post">
        <input class="btn btn-default" type="submit" name="submit_button" value="Add job">
        <input class="btn btn-default" type="submit" name="submit_button" value="Delete job">
        <input class="btn btn-default" type="submit" name="submit_button" value="Show all jobs">
        <input class="btn btn-default" type="submit" name="submit_button" value="Update job">
    </form>
    <p>Click <a href="/">here</a> to go home.</p>
    <p>{{ company.email }}</p>
</body>
</html>