<!DOCTYPE html>
<html>
<head>
	<title>EasyWork</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='table_test.css') }}" />
</head>
<body>
	<form action='' method='POST'>
		<input type="submit" name="submit_button" value="Go back">
	</form>
	{% if error %}
		<p class="error"><strong>Error:</strong> {{ error }}
	{% else %}
		<form action="" method="POST">
		<div class='container'>
		<label for="candidate">Choose a candidate:</label>
		<select name="candidate" id="candidate">
		{% for candidate in candidates %}
			{% for like in liked %}
				{% if like.candidate_id == candidate.candidate_id %}
						<option value={{ like.candidate_id }} name={{ request.form.candidate }}>{{ candidate.name }}</option>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</select>
		<input type="submit" name="submit_button" value="Send message">
		<table>
			<tr>
				<th>Name</th>
				<th>Email</th>
				<th>Phone</th>
				<th>About candidate</th>
				<th>CV link</th>
				<th>Category</th>
			</tr>
		{% for candidate in candidates %}
			{% for like in liked %}
				{% if like.candidate_id == candidate.candidate_id %}
					<tr>
						<td>{{ candidate.name }}</td>
						<td>{{ candidate.email }}</td>
						<td>{{ candidate.phone }}</td>
						<td>{{ candidate.about_me }}</td>
						<td>{{ candidate.cv_link }}</td>
						{% for category in categories %}
							{% if candidate.field_of_work == category.category_id %}
								<td>{{ category.name }}</td>
							{% endif %}
						{% endfor %}
					</tr>
				{% endif %}
			{% endfor %}
		{% endfor %}
			</table>
		</div>

		</form>
	{% endif %}
</body>
</html>