<!DOCTYPE html>
<html>
<head>
	<title>EasyWork</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='table_test.css') }}" />
</head>
<body>
	<form action="/candidate_home/add_message" method="post">
		{% for message in messages %}
			<p>
				{% if message.send_by %}
					<div style="text-align:right;">
						{{ message.candidate.name }} :
	            		{{ message.message }}
	              		time: {{ message.timestamp }}
					</div>
				{% else %}
					{{ message.company.name }} :
	            	{{ message.message }}
	             	time: {{ message.timestamp }}
				{% endif %}
			</p>
			<hr>
		<input type="hidden" name="candidate_id" value="{{ message.candidate_id }}">
		<input type="hidden" name="company_id" value="{{ message.company_id }}">
		{% endfor %}
		<input type="text" placeholder="Message" name="message">
		<input class="btn btn-default" type="submit" value="Send">
		<input class="btn btn-default" type="submit" name='submit_button' value="Go back">
	</form>
</body>
</html>