<!DOCTYPE html>
<html>
<head>
	<title>EasyWork</title>
</head>
<body>
	<table>
		<tr>
			<th>Name:</th>
			<td>{{ company.name }}</td>
		</tr>
		<tr>
			<th>Email:</th>
			<td>{{ company.email }}</td>
		</tr>
		<tr>
			<th>Description:</th>
			<td>{{ company.description }}</td>
		</tr>
	</table>
	</br>
	<form action='' method='POST'>
		<input type="submit" name="submit_button" value="Update profile">
		<input type="submit" name="submit_button" value="Change password">
		<input type="submit" name="submit_button" value="Delete profile">
		<input type="submit" name="submit_button" value="Go back">
	</form>
</body>
</html>