<!DOCTYPE html>
<html>
<head>
	<title>EasyWork</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='table_test.css') }}" />
</head>
<body>
	<form action="" method="post">
		<input type="text" placeholder="Firs name Second name" name="name" value="{{
          request.form.username }}">
        <input type="text" placeholder="Email" name="email" value="{{
          request.form.email }}">
        <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
         <input type="text" placeholder="Description" name="description" value="{{
          request.form.description }}">
        <input class="btn btn-default" type="submit" value="Submit">
	</form>
</body>
</html>